@font-face {
  font-family: 'Roboto-variable';
  font-weight: 100 1000;
  font-stretch: 75% 100%;
  src: url("/assets/roboto/variable_fonts/Roboto-Flex.woff2") format('woff2-variations'),
       url("/assets/roboto/variable_fonts/RobotoFlex[slnt,wdth,wght,opsz].ttf")
}

:host {
  --font-slnt: 0;
  --font-wdth: 100;
  --font-wght: 100;
}


h1, h2, p, em, strong {
  font-family: "Roboto-variable";
  font-style: normal;
  font-variation-settings: "wght" var(--font-wght), "wdth" var(--font-wdth), "slnt" var(--font-slnt);
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.thin {
  --font-wght: 100;

  em {
    --font-slnt: -10;
    --font-wdth: 130;
  }

  strong {
    --font-wght: 300;
  }
}

.light {
  --font-wght: 300;

  em {
    --font-slnt: -10;
    --font-wdth: 130;
  }

  strong {
    --font-wght: 500;
  }
}

.regular {
  --font-wght: 400;

  em {
    --font-slnt: -10;
    --font-wdth: 120;
  }

  strong {
    --font-wght: 600;
  }
}

.medium {
  --font-wght: 500;

  em {
    --font-slnt: -10;
    --font-wdth: 120;
  }

  strong {
    --font-wght: 700;
  }
}

.bold {
  --font-wght: 700;

  em {
    --font-slnt: -10;
    --font-wdth: 110;
  }

  strong {
    --font-wght: 950;
  }
}
