@font-face {
  font-family: 'Roboto-variable';
  font-weight: 100 1000;
  font-stretch: 75% 100%;
  src: url("/assets/roboto/variable_fonts/Roboto-Flex.woff2") format('woff2-variations'),
       url("/assets/roboto/variable_fonts/RobotoFlex[slnt,wdth,wght,opsz].ttf")
}

@font-face {
  font-family: 'Roboto-fallback';
  font-weight: 400;
  src: url("/assets/roboto/webfonts/Roboto-Regular.ttf");
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

@import "~bootstrap/scss/bootstrap";

.no-focus-outline:focus {
  outline: none;
}
