<div class='container mt-5'>
  <div class='row'>
    <div class='col-12 col-md-10 col-lg-9'>

      <h1 class='mb-0'>CHAPTER I</h1>
      <h2 class='mb-4'>Down the Rabbit-Hole</h2>

      <p class='mb-4 thin'>
        Alice was beginning to get very tired of sitting by her sister
        on the bank, <strong>and of having nothing to do</strong>: once or twice she had
        peeped into the book her <strong><em>sister was reading</em></strong>, but it had no
        pictures or conversations in it, `and what is the use of a book,'
        thought Alice <em>`without pictures or conversation?'</em>
      </p>

      <p class='mb-4 light'>
        Alice was beginning to get very tired of sitting by her sister
        on the bank, <strong>and of having nothing to do</strong>: once or twice she had
        peeped into the book her <strong><em>sister was reading</em></strong>, but it had no
        pictures or conversations in it, `and what is the use of a book,'
        thought Alice <em>`without pictures or conversation?'</em>
      </p>

      <p class='mb-4 regular'>
        Alice was beginning to get very tired of sitting by her sister
        on the bank, <strong>and of having nothing to do</strong>: once or twice she had
        peeped into the book her <strong><em>sister was reading</em></strong>, but it had no
        pictures or conversations in it, `and what is the use of a book,'
        thought Alice <em>`without pictures or conversation?'</em>
      </p>

      <p class='mb-4 medium'>
        Alice was beginning to get very tired of sitting by her sister
        on the bank, <strong>and of having nothing to do</strong>: once or twice she had
        peeped into the book her <strong><em>sister was reading</em></strong>, but it had no
        pictures or conversations in it, `and what is the use of a book,'
        thought Alice <em>`without pictures or conversation?'</em>
      </p>

      <p class='mb-4 bold'>
        Alice was beginning to get very tired of sitting by her sister
        on the bank, <strong>and of having nothing to do</strong>: once or twice she had
        peeped into the book her <strong><em>sister was reading</em></strong>, but it had no
        pictures or conversations in it, `and what is the use of a book,'
        thought Alice <em>`without pictures or conversation?'</em>
      </p>


    </div>
  </div>

</div>
