@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 100;
  src: url("/assets/Roboto-Thin.ttf");
}

@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 100;
  font-style: italic;
  src: url("/assets/Roboto-ThinItalic.ttf");
}


@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 300;
  src: url("/assets/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 300;
  font-style: italic;
  src: url("/assets/Roboto-LightItalic.ttf");
}


@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 400;
  src: url("/assets/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 400;
  font-style: italic;
  src: url("/assets/Roboto-Italic.ttf");
}


@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 500;
  src: url("/assets/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 500;
  font-style: italic;
  src: url("/assets/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 700;
  src: url("/assets/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 700;
  font-style: italic;
  src: url("/assets/Roboto-BoldItalic.ttf");
}


@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 900;
  src: url("/assets/Roboto-Black.ttf");
}

@font-face {
  font-family: 'Roboto-foit';
  font-display: block;
  font-weight: 900;
  font-style: italic;
  src: url("/assets/Roboto-BlackItalic.ttf");
}


h1, h2, p {
  font-family: 'Roboto-foit';
  line-height: 1.2rem;
}

.thin {
  font-weight: 100;
  strong {
    font-weight: 300;
  }
}

.light {
  font-weight: 300;
  strong {
    font-weight: 400;
  }
}

.regular {
  font-weight: 400;
  strong {
    font-weight: 500;
  }
}

.medium {
  font-weight: 500;
  strong {
    font-weight: 700;
  }
}

.bold {
  font-weight: 700;
  strong {
    font-weight: 900;
  }
}

em {
  font-style: italic;
}
