@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 100;
  src: url("/assets/roboto/webfonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 100;
  font-style: italic;
  src: url("/assets/roboto/webfonts/Roboto-ThinItalic.ttf");
}


@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 300;
  src: url("/assets/roboto/webfonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 300;
  font-style: italic;
  src: url("/assets/roboto/webfonts/Roboto-LightItalic.ttf");
}


@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 400;
  src: url("/assets/roboto/webfonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("/assets/roboto/webfonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 500;
  src: url("/assets/roboto/webfonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  src: url("/assets/roboto/webfonts/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 700;
  src: url("/assets/roboto/webfonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("/assets/roboto/webfonts/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 900;
  src: url("/assets/roboto/webfonts/Roboto-Black.ttf");
}

@font-face {
  font-family: 'Roboto-fout';
  font-display: swap;
  font-weight: 900;
  font-style: italic;
  src: url("/assets/roboto/webfonts/Roboto-BlackItalic.ttf");
}


h1, h2 {
  font-weight: 100;
}

h1, h2, p, em, strong {
  font-family: "Roboto-fout";
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.thin {
  font-weight: 100;
  strong {
    font-weight: 300;
  }
}

.light {
  font-weight: 300;
  strong {
    font-weight: 400;
  }
}

.regular {
  font-weight: 400;
  strong {
    font-weight: 500;
  }
}

.medium {
  font-weight: 500;
  strong {
    font-weight: 700;
  }
}

.bold {
  font-weight: 700;
  strong {
    font-weight: 900;
  }
}

em {
  font-style: italic;
}
